.social{
	border: solid 1px rgb(190, 184, 184);
}
.mt-10{
	margin-top: 6% !important;
}
.mt-50{
	margin-top: 27% !important;
}
.form-control:focus{
    outline:  2px solid rgb(0, 0, 0) !important;
    box-shadow: none !important;
    border: none !important;
	
}
.inp{
	background-color: #eee;
}
.link1{
	text-decoration: none !important;
}
.w-60{
	width: 60% !important;
}
.cont.right-panel-active .sign-in-container {
	transform: translateX(100%);
	opacity: 0;
}
.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.cont{
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
position: relative;
		overflow: hidden;
		width: 768px;
		max-width: 100%;
		min-height: 480px;
	
}
.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}
.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.cont.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 6;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container{
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}
.cont.right-panel-active .overlay-container{
	transform: translateX(-100%);
}
.overlay {
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}
.cont.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}
.overlay-left {
	transform: translateX(-20%);
}

.cont.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.cont.right-panel-active .overlay-right {
	transform: translateX(20%);
}
/*landing*/
nav a{
    color: white !important;
    font-size: larger !important;
}
nav{
    position: fixed !important;
    width: 100% !important;

    z-index: 5;


}
a img{
  
    width: 30% !important;
}

.bgcolor{
    background-color: #000000 !important;

}
@keyframes slideIn {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-20%);
    }
    
  }


  .bg2{
    background-color: #f9fafb !important;
  }


  /* Apply the animation to the image */
  .img1 {
    animation: slideIn 3s linear  ;
    
    animation-iteration-count: infinite;
    animation-delay: .5s;
    animation-direction: alternate
  }


  .wave {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background: #000000;
    transform: scale(1, 1);
  }
  
  .wave:before {
 
  content: "";
  z-index: -5;
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 70px;
    background-color:#000000;
    right: 0%;
    bottom: -58%;
    scale: ();
  }
  
  .wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color:#000000;
    left: -15%;
    bottom: -106%;
    clip-path: ellipse(100% 15% at -15% 100%);
  }

  .padiingtop{
    padding-top: 9% !important;
  }
  .pt-7{
    padding-top: 10% !important;
  }
  .h-70{
    height: 71.5% !important;
  }
  .card:hover{
    transform: translateY(-20px);
  }
  .img-height{
    height: 90px!important;
  }
  
  .img-height:hover{
    cursor: pointer;
    opacity: 50%;
  }
  .btnHover:hover{
    background-color: blue !important;
    color: white !important;
  }
  