nav a{
    color: white !important;
    font-size: larger !important;
}
nav{
    position: fixed !important;
    width: 100% !important;

    z-index: 5;


}
a img{
    width: 30% !important;
}

.bgcolor{
    background-color: #4225a8 !important;

}
@keyframes slideIn {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-20%);
    }
    
  }


  .bg2{
    background-color: #f9fafb !important;
  }


  /* Apply the animation to the image */
  .img1 {
    animation: slideIn 3s linear  ;
    
    animation-iteration-count: infinite;
    animation-delay: .5s;
    animation-direction: alternate
  }


body {
    
    margin: 0;
    padding: 0;
  }

  .wave {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background: #4225a8;
    transform: scale(1, 1);
  }
  
  .wave:before {
 
  content: "";
  z-index: -5;
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 70px;
    background-color:#4225a8;
    right: 0%;
    bottom: -58%;
    scale: ();
  }
  
  .wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color:#4225a8;
    left: -15%;
    bottom: -106%;
    clip-path: ellipse(100% 15% at -15% 100%);
  }

  .padiingtop{
    padding-top: 9% !important;
  }
  .pt-7{
    padding-top: 10% !important;
  }
  .h-70{
    height: 71.5% !important;
  }
  .card:hover{
    transform: translateY(-20px);
  }
  .img-height{
    height: 90px!important;
  }
  
  .img-height:hover{
    cursor: pointer;
    opacity: 50%;
  }
  .btnHover:hover{
    background-color: blue !important;
    color: white !important;
  }
  